# Python
__pycache__/
*.py[cod]
*.pyo
.Python
*.egg-info/

# Virtual environment
venv/
env/

# W&B local logs
wandb/

# Jupyter checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Large data files (downloaded automatically)
*.h5
*.pkl